@model Wunderman_Thompson_MSC_Assessment.Models.Employee


<h4>Register your interest</h4>
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="background-color:yellowgreen;font-size:200%">@ViewBag.message</p>
}
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Options
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.WorkEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CheckBoxValue1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Optional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Industry)
            </td>

        </tr>

    </tbody>
</table>

